/*
body {
    background-color: #213b50;
}

input[type="text"], [type="email"],  [type="tel"] {
    background-color: #2b4a64;
}
textarea {
    background-color: #2b4a64;
}
select {
    background-color: #2b4a64;
}
input:focus [type="text"], [type="email"],  [type="tel"] {
    background-color: #4e708c;
}
*/

form {
    background-color: #213b50;
    padding: 20px;
    color: #fff;
    width: 600px;
}

form input select {
    margin-bottom: 20px;
}

form label {
    display: block;
}

form select, textarea, input[type="text"], [type="email"],  [type="tel"] {
    width: 300px;
    background-color: #2b4a64;
    color: #fff;
    border: 1px solid #2b4a64;
    height: 25px;
}

form select:focus, textarea:focus, input:focus {
    background-color: #4e708c;
    border: 1px solid #fff;
}
form input[type="checkbox"] {
    display: block;
    float: left;
}
form input[type="radio"] {
    display: block;
    float: left;  
}

form input[type="submit"] {
    background-color: #1ac056;
    border: 1px solid #1ac056;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #fff;
    color: #1ac056;
}