figure {
    height: 100vh;
    width: 100vw;
}

@media (max-width: 1170px) {
    figure {
        height: 70vh;
        background-image: url("../img/man-2.jpg");
    }
   div {
    top: 15vh;
    left: 65vw;
    
}
    
    h1 {
    font-size: 20px;
}

    h2 {
    font-size: 17px;
}
}
    
@media (max-width: 992px) {
    figure {
        height: 50vh;
        background-image: url("../img/man-1.jpg");
    }
    div {
    top: 50vh;
    left: 50vw;
    color: black;
    text-align: center;
    transform: translateX(-50%);
        
}
    
    h1 {
    font-size: 18px;  
}

    h2 {
    font-size: 15px;
}
}

