* {
    box-sizing: border-box;
}
body {
    font-family: 'verdana', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

header {
    height: 564px;
    margin: 0 auto;
    position: relative;
}

 figure {
    height: 100vh;
    background-image: url("../img/man-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    background-position: center;
}
div {
    display: inline-block;
    position: absolute;
    top: 50vh;
    left: 1vw;
    transform: translateY(-50%);
    color: white;
    margin-top: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

