
* {
    box-sizing: border-box;
}

body {
    font-family: 'verdana', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

figure {
    height: 564px;
    margin: 0 auto;
}

img {
    height: 100%;
}